<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KickShoes👟</title>
</head>

<body>
    <% if (status) { %>
        <h2>Veification Successfull</h2>
        <% } else{ %>
            <h2>Veification Failed</h2>
            <% } %>

</body>

</html>